In [44]:
import pandas as pd
import numpy as np
import datetime
from statistics import correlation

In [45]:
df = pd.read_excel("C:\CLG\PESU IO\MBA PPT\MBA PPT 4-2-2023.xlsx")
df

c:\Users\ragha\AppData\Local\Programs\Python\Python310\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,SubjectCode,QuestionPaperName,QuestionSerialNumber,Marks,StudentScore,TimeSpentInSeconds,LoginId,SRN
0,MBAPPT,PPTMBA1 MBA -APTITUDE - PPT-1 (set- 1),1,1,-1,7,PES1202100158,PES1UG21BB046
1,MBAPPT,PPTMBA1 MBA -APTITUDE - PPT-1 (set- 1),2,1,-1,9,PES1202100158,PES1UG21BB046
2,MBAPPT,PPTMBA1 MBA -APTITUDE - PPT-1 (set- 1),3,1,1,5,PES1202100158,PES1UG21BB046
3,MBAPPT,PPTMBA1 MBA -APTITUDE - PPT-1 (set- 1),4,1,-1,7,PES1202100158,PES1UG21BB046
4,MBAPPT,PPTMBA1 MBA -APTITUDE - PPT-1 (set- 1),5,1,-1,18,PES1202100158,PES1UG21BB046
...,...,...,...,...,...,...,...,...
19495,MBAPPT,PPTMBA1 MBA -APTITUDE - PPT-1 (set- 1),46,1,0,0,S1230,S1230
19496,MBAPPT,PPTMBA1 MBA -APTITUDE - PPT-1 (set- 1),47,1,0,0,S1230,S1230
19497,MBAPPT,PPTMBA1 MBA -APTITUDE - PPT-1 (set- 1),48,1,0,0,S1230,S1230
19498,MBAPPT,PPTMBA1 MBA -APTITUDE - PPT-1 (set- 1),49,1,0,1,S1230,S1230
19499,MBAPPT,PPTMBA1 MBA -APTITUDE - PPT-1 (set- 1),50,1,0,0,S1230,S1230

In [46]:
unique_SRN = df[" SRN"].unique()    #SRN has a space before S
#unique_SRN
print("Total number of students who took the test = ", len(unique_SRN))

Total number of students who took the test =  361

In [47]:
df = df.drop(columns = [" Marks"," QuestionPaperName", "SubjectCode"])
df

,QuestionSerialNumber,StudentScore,TimeSpentInSeconds,LoginId,SRN
0,1,-1,7,PES1202100158,PES1UG21BB046
1,2,-1,9,PES1202100158,PES1UG21BB046
2,3,1,5,PES1202100158,PES1UG21BB046
3,4,-1,7,PES1202100158,PES1UG21BB046
4,5,-1,18,PES1202100158,PES1UG21BB046
...,...,...,...,...,...
19495,46,0,0,S1230,S1230
19496,47,0,0,S1230,S1230
19497,48,0,0,S1230,S1230
19498,49,0,1,S1230,S1230
19499,50,0,0,S1230,S1230

In [48]:
mba_attendance = 0
bba_attendance = 0
psych_attendance = 0
misc_attendance = 0
bcom_attendance = 0

#print(unique_SRN[1][8])
'''
for i in range(len(unique_SRN)):
    if unique_SRN[i][8] == "B" and unique_SRN[i][9] == "B":
        bba_attendance += 1
    elif unique_SRN[i][8] == "B" and unique_SRN[i][9] == "C":
        bcom_attendance += 1
    elif unique_SRN[i][8] == "M" and unique_SRN[i][9] == "B":
        mba_attendance += 1
    elif unique_SRN[i][8] == "P" and unique_SRN[i][9] == "Y":
        psych_attendance += 1
    elif unique_SRN[i][8].isdigit() and unique_SRN[i][9].isdigit():
        misc_attendance +=1 

counter = [bba_attendance, bcom_attendance, mba_attendance, psych_attendance, misc_attendance]
counter
'''

for i in range(len(unique_SRN)):
    if "BB" in unique_SRN[i]:
        bba_attendance += 1
    elif "BC" in unique_SRN[i]:
        bcom_attendance += 1
    elif "MB" in unique_SRN[i]:
        mba_attendance += 1
    elif "PY" in unique_SRN[i]:
        psych_attendance += 1

counter = [bba_attendance, bcom_attendance, mba_attendance, psych_attendance, misc_attendance]
print(counter)

[33, 249, 11, 66, 0]

In [49]:
print(df[" SRN"][9])

PES1UG21BB046

BCOM Report begins

In [50]:
#df.rename(columns = {" SRN", "srn"}, inplace = True )
#df[" SRN"]

df.columns = df.columns.str.replace(" SRN", "srn")
#df

df2 = pd.DataFrame()
BC_df = df[df.srn.str.contains("BC", case = False)].copy(deep = True)
BC_df

,QuestionSerialNumber,StudentScore,TimeSpentInSeconds,LoginId,srn
900,1,-1,41,PES1202200157,PES1UG22BC123
901,2,-1,56,PES1202200157,PES1UG22BC123
902,3,1,27,PES1202200157,PES1UG22BC123
903,4,1,14,PES1202200157,PES1UG22BC123
904,5,1,23,PES1202200157,PES1UG22BC123
...,...,...,...,...,...
19445,46,-1,36,PES3202200152,PES3UG21BC005
19446,47,-1,107,PES3202200152,PES3UG21BC005
19447,48,1,83,PES3202200152,PES3UG21BC005
19448,49,1,78,PES3202200152,PES3UG21BC005
19449,50,1,84,PES3202200152,PES3UG21BC005

In [51]:
def convert(seconds):
    seconds = seconds % (24 * 3600)
    hour = seconds // 3600
    seconds %= 3600
    minutes = seconds // 60
    seconds %= 60
     
    return "%d:%02d:%02d" % (hour, minutes, seconds)

bc_time = BC_df[" TimeSpentInSeconds"].sum()
bc_time_in_sec = bc_time/len(unique_SRN)
convert(bc_time_in_sec)

'0:23:33'

In [52]:
unique__BC_SRN = BC_df["srn"].unique()
print("The number of BCom students who took the test = " +  str(len(unique__BC_SRN)))

The number of BCom students who took the test = 249

In [53]:
bc_total_score = BC_df[" StudentScore"].sum()

bc_average_score = round(bc_total_score/len(unique__BC_SRN),2)
bc_average_score

15.69

In [54]:
bc_df_g = BC_df.groupby(" LoginId", as_index = False ).sum()
#bc_df_g
bc_df_g = bc_df_g.drop(columns = [" QuestionSerialNumber"])

bc_top_scorer = bc_df_g.loc[bc_df_g[" StudentScore"].idxmax()]
bc_top_scorer

C:\Users\ragha\AppData\Local\Temp\ipykernel_17368\2952952404.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  bc_df_g = BC_df.groupby(" LoginId", as_index = False ).sum()

 LoginId               PES1202201746
 StudentScore                     49
 TimeSpentInSeconds             1955
Name: 76, dtype: object

In [55]:
bc_lowest = bc_df_g.loc[bc_df_g[" StudentScore"].idxmin()]
bc_lowest

 LoginId               PES3202100899
 StudentScore                    -35
 TimeSpentInSeconds             1253
Name: 240, dtype: object

In [56]:
bc_corrcoeff = np.corrcoef(bc_df_g[" TimeSpentInSeconds"], bc_df_g[" StudentScore"])
bc_pcc = bc_corrcoeff[0][1]
print(bc_pcc)
if bc_pcc > -0.2 and bc_pcc < 0.2:
    print("There exists a weak linear relationship between time spent and marks scored.")
elif (bc_pcc > 0.2 and bc_pcc < 0.7) or (bc_pcc > -0.7 and bc_pcc < -0.2):
    print("There exists a mild linear realtionship between time spent and marks scored.")     
elif (bc_pcc <= 1 and bc_pcc > 0.7) or (bc_pcc > -1 and bc_pcc < -0.7):
    print("There exist a strong linear relationship between time spent and marks scored.")

0.515151577004486
There exists a mild linear realtionship between time spent and marks scored.

BCom Report ends

BBA Report begins

In [57]:
BB_df = df[df.srn.str.contains("BB", case = False)].copy(deep = True)
BB_df

,QuestionSerialNumber,StudentScore,TimeSpentInSeconds,LoginId,srn
0,1,-1,7,PES1202100158,PES1UG21BB046
1,2,-1,9,PES1202100158,PES1UG21BB046
2,3,1,5,PES1202100158,PES1UG21BB046
3,4,-1,7,PES1202100158,PES1UG21BB046
4,5,-1,18,PES1202100158,PES1UG21BB046
...,...,...,...,...,...
8995,46,1,18,PES1202201998,PES1UG22BB018
8996,47,-1,23,PES1202201998,PES1UG22BB018
8997,48,-1,4,PES1202201998,PES1UG22BB018
8998,49,-1,13,PES1202201998,PES1UG22BB018
8999,50,-1,11,PES1202201998,PES1UG22BB018

In [58]:
unique__BB_SRN = BB_df["srn"].unique()
print("The number of BBA students who took the test = " +  str(len(unique__BB_SRN)))

The number of BBA students who took the test = 33

In [59]:
bb_time = BB_df[" TimeSpentInSeconds"].sum()
bb_time_in_sec = bb_time/len(unique__BB_SRN)
convert(bb_time_in_sec)

'0:38:23'

In [60]:
bb_total_score = BB_df[" StudentScore"].sum()

bb_average_score = round(bb_total_score/len(unique__BB_SRN),2)
bb_average_score

16.48

In [61]:
bb_df_g = BB_df.groupby(" LoginId", as_index = False ).sum()
#bc_df_g
bb_df_g = bb_df_g.drop(columns = [" QuestionSerialNumber"])

bb_top_scorer = bb_df_g.loc[bb_df_g[" StudentScore"].idxmax()]
bb_top_scorer

C:\Users\ragha\AppData\Local\Temp\ipykernel_17368\225401130.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  bb_df_g = BB_df.groupby(" LoginId", as_index = False ).sum()

 LoginId               PES1202100455
 StudentScore                     46
 TimeSpentInSeconds             2458
Name: 5, dtype: object

In [62]:
bb_lowest = bb_df_g.loc[bb_df_g[" StudentScore"].idxmin()]
bb_lowest

 LoginId               PES1202201889
 StudentScore                    -30
 TimeSpentInSeconds              605
Name: 30, dtype: object

In [63]:
bb_corrcoeff = np.corrcoef(bb_df_g[" TimeSpentInSeconds"], bb_df_g[" StudentScore"])
bb_pcc = bb_corrcoeff[0][1]
print(bb_pcc)
if bb_pcc > -0.2 and bb_pcc < 0.2:
    print("There exists a weak linear relationship between time spent and marks scored.")
elif (bb_pcc > 0.2 and bb_pcc < 0.7) or (bb_pcc > -0.7 and bb_pcc < -0.2):
    print("There exists a mild linear realtionship between time spent and marks scored.")     
elif (bb_pcc <= 1 and bb_pcc > 0.7) or (bb_pcc > -1 and bb_pcc < -0.7):
    print("There exist a strong linear relationship between time spent and marks scored.")

0.6792145744067836
There exists a mild linear realtionship between time spent and marks scored.

BBA report ends

Psych Report Begins

In [64]:
PY_df = df[df.srn.str.contains("PY", case = False)].copy(deep = True)
PY_df

,QuestionSerialNumber,StudentScore,TimeSpentInSeconds,LoginId,srn
1750,1,-1,9,PES1202200249,PES1UG22PY001
1751,2,1,93,PES1202200249,PES1UG22PY001
1752,3,1,36,PES1202200249,PES1UG22PY001
1753,4,1,47,PES1202200249,PES1UG22PY001
1754,5,-1,89,PES1202200249,PES1UG22PY001
...,...,...,...,...,...
9495,46,1,36,PES1202202573,PES1UG22PY087
9496,47,1,70,PES1202202573,PES1UG22PY087
9497,48,1,67,PES1202202573,PES1UG22PY087
9498,49,-1,9,PES1202202573,PES1UG22PY087
9499,50,1,84,PES1202202573,PES1UG22PY087

In [65]:
unique__PY_SRN = PY_df["srn"].unique()
print("The number of Psychology students who took the test = " +  str(len(unique__PY_SRN)))

The number of Psychology students who took the test = 66

In [66]:
py_time = PY_df[" TimeSpentInSeconds"].sum()
py_time_in_sec = py_time/len(unique__PY_SRN)
convert(py_time_in_sec)

'0:40:10'

In [67]:
py_total_score = PY_df[" StudentScore"].sum()
py_average_score = round(py_total_score/len(unique__PY_SRN),2)
py_average_score

24.08

In [68]:
py_df_g = PY_df.groupby(" LoginId", as_index = False ).sum()
#bc_df_g
py_df_g = py_df_g.drop(columns = [" QuestionSerialNumber"])

py_top_scorer = py_df_g.loc[py_df_g[" StudentScore"].idxmax()]
py_top_scorer

C:\Users\ragha\AppData\Local\Temp\ipykernel_17368\1122515283.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  py_df_g = PY_df.groupby(" LoginId", as_index = False ).sum()

 LoginId               PES1202200506
 StudentScore                     48
 TimeSpentInSeconds             2506
Name: 15, dtype: object

In [69]:
py_lowest = py_df_g.loc[py_df_g[" StudentScore"].idxmin()]
py_lowest

 LoginId               PES1202200502
 StudentScore                    -22
 TimeSpentInSeconds             1114
Name: 14, dtype: object

In [70]:
py_corrcoeff = np.corrcoef(py_df_g[" TimeSpentInSeconds"], py_df_g[" StudentScore"])
py_pcc = py_corrcoeff[0][1]
print(py_pcc)
if py_pcc > -0.2 and py_pcc < 0.2:
    print("There exists a weak linear relationship between time spent and marks scored.")
elif (py_pcc > 0.2 and py_pcc < 0.7) or (py_pcc > -0.7 and py_pcc < -0.2):
    print("There exists a mild linear relationship between time spent and marks scored.")     
elif (py_pcc <= 1 and py_pcc > 0.7) or (py_pcc > -1 and py_pcc < -0.7):
    print("There exist a strong linear relationship between time spent and marks scored.")

0.3954363345406444
There exists a mild linear relationship between time spent and marks scored.

Psych report ends

MBA report begins

In [71]:
MB_df = df[df.srn.str.contains("MB", case = False)].copy(deep = True)
MB_df

,QuestionSerialNumber,StudentScore,TimeSpentInSeconds,LoginId,srn
9500,1,-1,18,PES1202202691,PES1PG22MB068
9501,2,0,14,PES1202202691,PES1PG22MB068
9502,3,1,56,PES1202202691,PES1PG22MB068
9503,4,1,75,PES1202202691,PES1PG22MB068
9504,5,0,52,PES1202202691,PES1PG22MB068
...,...,...,...,...,...
10045,46,-1,15,PES1202204067,PES1PG22MB240
10046,47,-1,2,PES1202204067,PES1PG22MB240
10047,48,-1,5,PES1202204067,PES1PG22MB240
10048,49,1,14,PES1202204067,PES1PG22MB240
10049,50,1,129,PES1202204067,PES1PG22MB240

In [1]:
unique__MB_SRN = MB_df["srn"].unique()
print("The number of MBA students who took the test = " +  str(len(unique__MB_SRN)))

NameError: name 'MB_df' is not defined

In [73]:
mb_time = MB_df[" TimeSpentInSeconds"].sum()
mb_time_in_sec = mb_time/len(unique__MB_SRN)
convert(mb_time_in_sec)

'0:31:29'

In [74]:
mb_total_score = MB_df[" StudentScore"].sum()
mb_average_score = round(mb_total_score/len(unique__MB_SRN),2)
mb_average_score

9.82

In [75]:
mb_df_g = MB_df.groupby(" LoginId", as_index = False ).sum()
#bc_df_g
mb_df_g = mb_df_g.drop(columns = [" QuestionSerialNumber"])

mb_top_scorer = mb_df_g.loc[mb_df_g[" StudentScore"].idxmax()]
mb_top_scorer

C:\Users\ragha\AppData\Local\Temp\ipykernel_17368\2968201893.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mb_df_g = MB_df.groupby(" LoginId", as_index = False ).sum()

 LoginId               PES1202203219
 StudentScore                     37
 TimeSpentInSeconds             2779
Name: 8, dtype: object

In [76]:
mb_lowest = mb_df_g.loc[mb_df_g[" StudentScore"].idxmin()]
mb_lowest

 LoginId               PES1202203251
 StudentScore                    -26
 TimeSpentInSeconds              484
Name: 9, dtype: object

In [77]:
mb_corrcoeff = np.corrcoef(mb_df_g[" TimeSpentInSeconds"], mb_df_g[" StudentScore"])
mb_pcc = mb_corrcoeff[0][1]
print(mb_pcc)
if mb_pcc > -0.2 and mb_pcc < 0.2:
    print("There exists a weak linear relationship between time spent and marks scored.")
elif (mb_pcc > 0.2 and mb_pcc < 0.7) or (mb_pcc > -0.7 and mb_pcc < -0.2):
    print("There exists a mild linear relationship between time spent and marks scored.")     
elif (mb_pcc <= 1 and mb_pcc > 0.7) or (mb_pcc > -1 and mb_pcc < -0.7):
    print("There exist a strong linear relationship between time spent and marks scored.")

0.8420036586024218
There exist a strong linear relationship between time spent and marks scored.

MBA report ends